IM\ 1010\ Final\ Project\ Submission\ Template
*.out
*.zip
src/
Grading/COLORS.h
Grading/*.out
Grading/Snake*
*ex*
*txt
map/


archive/

# ignore color settings
COLORS*
colors*
Colors*

## macOS ##
.vscode/

## Misc ##
pwd
Final-Project-Spec.md